* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #fdfdfd;
}
header {
  width: 100%;
  background-color: #000000;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 40px;
  position:sticky;
  top: 0;
  z-index: 999;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100px;
  width: 100px;
}
.manu ul {
    padding-left: 100px;
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 20px;

  
}

.manu ul li a {
  color: rgb(191, 18, 18);
  text-decoration: none;
  transition: color 0.3s;
}

.manu ul li a:hover {
  color: rgb(248, 244, 237);
}

.icon ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-left: 610px;
}
.icon ul li a{
  text-decoration: none;
  color: white;
}
.icon ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.icon ul li span {
  display: none;
  font-size: 14px;
}

.icon ul li:hover {
  transform: rotate(10deg) scale(1.1);
  color: rgb(235, 230, 207);
}

.icon ul li:hover span {
  display: block;
}
#mian{
    width: 100%;
    height: 100vh;
}
section{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slide{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    animation: slideImage 15s infinite;
}
.slide img{
    width: 100%;
    height: 100%;
}
.slide:nth-child(1){
    animation-delay: 0s;
}
.slide:nth-child(2){
    animation-delay: 3s;
}
.slide:nth-child(3){
    animation-delay:6s;
}
.slide:nth-child(4){
    animation-delay: 9s;
}
@keyframes slideImage {
    0%{
        opacity: 0;
    }
    18%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.session2 {
  width: 100%;
  height: 200px;
  background-color: rgb(0, 0, 0);
  padding-top: 20px;
  padding: 20px;
}

.session2 h1 {
  color: rgb(141, 22, 22);
  font-size: 30px;
}

.session2 .scroll {
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  gap: 30px;
  padding-top: 15px;
  overflow-x: scroll;
}

.session2 .scroll::-webkit-scrollbar {
  display: none;
}

.session2 .scroll .scrol-box {
  width: 150px;
  height: 100%;
  background-color: rgb(152, 17, 17);
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  flex-shrink: 0;
}

.session2 .scroll .scrol-box:hover {
  border: 2px solid lightblue;
}
.session3{
  width: 100%;
  height: 100px;
}
.container{
  width: 100%;
  height: 100px;;
  background-color: #000000;
}
.container h2{
  color: rgb(144, 16, 16);
  padding-left: 20px;
}
.container h3{
  color: rgb(121, 106, 106);
  padding-left: 20px;
}
.session4{
  width: 100%;
  height: 500px;
  background-color: aqua;
}
.animejuly{
  width: 100%;
  height: 500px;
  background-color: blue;
  display:flex;
}
.anime1{
  width: 20%;
  height: 550px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  color: white;
}
.anime1 img{
  width: 85%;
  height:400px;
}
.anime2{
  width: 20%;
  height: 550px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  color: white;
}
.anime2 img{
  width: 85%;
  height: 400px;
}
.anime3{
  width: 20%;
  height: 550px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  color: white;
}
.anime3 img{
  width: 85%;
  height: 400px;
}
.anime4{
  width: 20%;
  height: 550px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  color: white;
}
.anime4 img{
  width: 85%;
  height: 400px;
}
.anime5{
  width: 20%;
  height: 550px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  color: white;
}
.anime5 img{
  width: 85%;
  height: 400px;
}
.session5{
  width: 100%;
  height: 500px;
  background-color: aqua;
}
.buttom{
    width: 100%;
    height:500px;
    display: flex;
    background-color: rgb(0, 0, 0);
  }
.buttom .left{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    animation: img 3s ease-in-out;
}
.buttom .left img{
  width: 100%;
  height: 100%;
  padding-left: 20px;
}
@keyframes img{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
  }
  .buttom .right{
    width: 30%;
    height: 100%;
    padding: 60px;
    padding-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.buttom .right h1{
    font-size: 35px;
    color: red;
    padding-bottom: 10px;
}
.buttom .right p{
    padding-top: 10px;
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
}
.row{
  width: 100%;
  height: 200px;
  background-color: #000000;
  justify-content: center;
  display: flex;
  align-items:center;
}
.row a{
  color: rgb(255, 30, 30);
  font-size: 20px;
}
footer{
  background-color: rgb(35, 29, 29);
  width: 100%;
  height: 500px;
  display: flex;
}
.navigation{
  width: 25%;
  height: 500px;
  background-color: rgb(21, 19, 19);
  padding-top: 40px;
}
.navigation h3{
  color: rgb(191, 191, 191);
  display:flex;
  justify-self: center;
  padding: 15px;
}
.navigation ul li a{
  color:rgb(243, 94, 94) ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.navigation a:hover{
  color: #ffffff;
}
.connecUs{
  width: 25%;
  height: 500px;
  background-color:rgb(21, 19, 19);
  padding-top: 40px;
}
.connecUs h3{
 color: rgb(191, 191, 191);
  display:flex;
  justify-self: center;
  padding: 15px;
}
.connecUs ul li{
  color:rgb(243, 94, 94) ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.connecUs li:hover{
  color: white;
}
.AniChantha{
  width: 25%;
  height: 500px;
  background-color: rgb(21, 19, 19);
  padding-top: 40px;
}
.AniChantha h3{
  color:  rgb(191, 191, 191);;
  display: flex;
  justify-self: center;
  padding: 15px;
}
.AniChantha ul li a{
  color:rgb(243, 94, 94) ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.AniChantha a:hover{
  color:white;
}
.account{
  width: 25%;
  height: 500px;
  background-color: rgb(21, 19, 19);
  padding-top: 40px;
}
.account h3{
  color:  rgb(191, 191, 191);;
  display: flex;
  justify-self: center;
  padding: 15px;
}
.account ul li a{
  color:rgb(243, 94, 94) ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.account a:hover{
  color: white;
}
li{
  list-style: none;
}